.game-container {
  padding-top: 120px;
}

.row {
  width: 420px;
  margin: auto;
  display: flex;
  align-items: center;
}

.cell {
  width: 70px;
  height: 70px;
  flex: 1;
  border: none; /* Resetting default browser borders */
  color: transparent;
  border-color: var(--main-bg-color);
  cursor: pointer;
  outline: none;
  background-color: var(--cell-bg-color);
}

.marble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  transition: 0.2s ease all;
  background-color: var(--empty-color);
}

/**
  Quarter radius
**/
.row:first-child > .cell:first-child,
.row:first-child > .cell:nth-child(4),
.row:nth-child(4) > .cell:first-child,
.row:nth-child(4) > .cell:nth-child(4) {
  border-top-left-radius: 20px;
}

.row:first-child > .cell:nth-child(3),
.row:first-child > .cell:last-child,
.row:nth-child(4) > .cell:nth-child(3),
.row:nth-child(4) > .cell:last-child {
  border-top-right-radius: 20px;
}

.row:nth-child(3) > .cell:first-child,
.row:nth-child(3) > .cell:nth-child(4),
.row:nth-child(6) > .cell:first-child,
.row:nth-child(6) > .cell:nth-child(4) {
  border-bottom-left-radius: 20px;
}

.row:nth-child(3) > .cell:nth-child(3),
.row:nth-child(3) > .cell:last-child,
.row:nth-child(6) > .cell:nth-child(3),
.row:nth-child(6) > .cell:last-child {
  border-bottom-right-radius: 20px;
}

.row:nth-child(3) > .cell {
  margin-bottom: 3px;
}

.cell:nth-child(3) {
  margin-right: 3px;
}

.player-color--1 {
  color: var(--player1-color);
}

.player-bg--1 {
  background-color: var(--player1-color);
}

.player-color--2 {
  color: var(--player2-color);
}

.player-bg--2 {
  background-color: var(--player2-color);
}

.game-container.player-turn--1 .cell:enabled:hover .marble.player-bg--0 {
  background-color: var(--player1-color--hover);
}

.game-container.player-turn--2 .cell:enabled:hover .marble.player-bg--0 {
  background-color: var(--player2-color--hover);
}

.rotate-controls {
  display: flex;
  width: 420px;
  margin: auto;
  justify-content: space-around;
  padding: 20px 0;
}

.icon--inversed {
  transform: rotateY(180deg);
}
