@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.game-container {
  padding-top: 20px;
  margin: auto;
}

.board {
  position: relative;
  margin: auto;
  margin-top: 40px;
  width: 420px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.board--opacity {
  opacity: 0.6;
}

.board-quarter {
  transition: 1s ease transform;
  margin: 2px;
}

.row {
  margin: auto;
  display: flex;
  align-items: center;
}

.cell {
  width: 70px;
  height: 70px;
  flex: 1;
  border-color: var(--main-bg-color);
  background-color: var(--cell-bg-color);
}

.marble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  transition: 0.2s ease all;
  background-color: var(--empty-color);
}

.marble.aligned {
  animation: scale 1.5s infinite;
}

/**
  Quarter radius
**/
.row:first-child > .cell:first-child,
.row:first-child > .cell:nth-child(4),
.row:nth-child(4) > .cell:first-child,
.row:nth-child(4) > .cell:nth-child(4) {
  border-top-left-radius: var(--quarter-radius);
}

.row:first-child > .cell:nth-child(3),
.row:first-child > .cell:last-child,
.row:nth-child(4) > .cell:nth-child(3),
.row:nth-child(4) > .cell:last-child {
  border-top-right-radius: var(--quarter-radius);
}

.row:nth-child(3) > .cell:first-child,
.row:nth-child(3) > .cell:nth-child(4),
.row:nth-child(6) > .cell:first-child,
.row:nth-child(6) > .cell:nth-child(4) {
  border-bottom-left-radius: var(--quarter-radius);
}

.row:nth-child(3) > .cell:nth-child(3),
.row:nth-child(3) > .cell:last-child,
.row:nth-child(6) > .cell:nth-child(3),
.row:nth-child(6) > .cell:last-child {
  border-bottom-right-radius: var(--quarter-radius);
}

.player-color--1 {
  color: var(--player1-color);
}

.player-bg--1 {
  background-color: var(--player1-color);
}

.player-color--2 {
  color: var(--player2-color);
}

.player-bg--2 {
  background-color: var(--player2-color);
}

.game-container.current-player--1 .cell:enabled:hover .marble.player-bg--0 {
  background-color: var(--player1-color--hover);
}

.game-container.current-player--2 .cell:enabled:hover .marble.player-bg--0 {
  background-color: var(--player2-color--hover);
}

.rotate-controls-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  right: 0;
  border-radius: var(--quarter-radius);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.rotate-controls-quarter {
  opacity: 0.5;
  display: flex;
  align-items: stretch;
  border-radius: var(--quarter-radius);
  overflow: hidden;
}

.rotate-controls-quarter button {
  width: 100%;
  transition: 0.2s all ease;
}

.rotate-controls-quarter button:hover {
  background-color: var(--cell-bg-color);
}

.rotate-controls-quarter .icon {
  width: 40px;
}

.icon--inversed {
  transform: rotateY(180deg);
}

@keyframes popIn {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

.animate-marble {
  animation: popIn 1s ease-in-out;
}

@keyframes rotateQuarter1ClockWise {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  30% {
    transform: translate(-30px, -30px) rotate(0deg);
  }

  60% {
    transform: translate(-30px, -30px) rotate(90deg);
  }

  100% {
    transform: translate(0, 0) rotate(90deg);
  }
}

@keyframes rotateQuarter1CounterClockWise {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  30% {
    transform: translate(-30px, -30px) rotate(0deg);
  }

  60% {
    transform: translate(-30px, -30px) rotate(-90deg);
  }

  100% {
    transform: translate(0, 0) rotate(-90deg);
  }
}

.transform-quarter--1--clockwise {
  animation: rotateQuarter1ClockWise 2s ease;
  animation-fill-mode: forwards;
}

.transform-quarter--1--counter-clockwise {
  animation: rotateQuarter1CounterClockWise 2s ease;
  animation-fill-mode: forwards;
}

@keyframes rotateQuarter2ClockWise {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  30% {
    transform: translate(30px, -30px) rotate(0deg);
  }

  60% {
    transform: translate(30px, -30px) rotate(90deg);
  }

  100% {
    transform: translate(0, 0) rotate(90deg);
  }
}

@keyframes rotateQuarter2CounterClockWise {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  30% {
    transform: translate(30px, -30px) rotate(0deg);
  }

  60% {
    transform: translate(30px, -30px) rotate(-90deg);
  }

  100% {
    transform: translate(0, 0) rotate(-90deg);
  }
}

.transform-quarter--2--clockwise {
  animation: rotateQuarter2ClockWise 2s ease;
  animation-fill-mode: forwards;
}

.transform-quarter--2--counter-clockwise {
  animation: rotateQuarter2CounterClockWise 2s ease;
  animation-fill-mode: forwards;
}

@keyframes rotateQuarter3ClockWise {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  30% {
    transform: translate(30px, 30px) rotate(0deg);
  }

  60% {
    transform: translate(30px, 30px) rotate(90deg);
  }

  100% {
    transform: translate(0, 0) rotate(90deg);
  }
}

@keyframes rotateQuarter3CounterClockWise {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  30% {
    transform: translate(30px, 30px) rotate(0deg);
  }

  60% {
    transform: translate(30px, 30px) rotate(-90deg);
  }

  100% {
    transform: translate(0, 0) rotate(-90deg);
  }
}

.transform-quarter--3--clockwise {
  animation: rotateQuarter3ClockWise 2s ease;
  animation-fill-mode: forwards;
}

.transform-quarter--3--counter-clockwise {
  animation: rotateQuarter3CounterClockWise 2s ease;
  animation-fill-mode: forwards;
}

@keyframes rotateQuarter4ClockWise {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  30% {
    transform: translate(-30px, 30px) rotate(0deg);
  }

  60% {
    transform: translate(-30px, 30px) rotate(90deg);
  }

  100% {
    transform: translate(0, 0) rotate(90deg);
  }
}

@keyframes rotateQuarter4CounterClockWise {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  30% {
    transform: translate(-30px, 30px) rotate(0deg);
  }

  60% {
    transform: translate(-30px, 30px) rotate(-90deg);
  }

  100% {
    transform: translate(0, 0) rotate(-90deg);
  }
}

.transform-quarter--4--clockwise {
  animation: rotateQuarter4ClockWise 2s ease;
  animation-fill-mode: forwards;
}

.transform-quarter--4--counter-clockwise {
  animation: rotateQuarter4CounterClockWise 2s ease;
  animation-fill-mode: forwards;
}
