.home__illu {
  width: 50%;
  max-width: 450px;
  margin: 60px auto;
  display: block;
}

.home__links {
  display: flex;
  max-width: 600px;
  width: 90%;
  margin: 40px auto;
  align-items: center;
  justify-content: space-around;
}
