:root {
  --main-bg-color: #333333;
  --player1-color: #fed766;
  --player1-color--hover: #fee59a;
  --player2-color: #78daea;
  --player2-color--hover: #caf1f7;
  --empty-color: white;
  --cell-bg-color: #f3f4f6;
  --quarter-radius: 20px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  color: white;
}

body {
  background-color: var(--main-bg-color);
}

button {
  outline: none;
  color: transparent;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}
