.waiting-opponent {
  max-width: 500px;
  width: 90%;
  margin: auto;
  margin-top: 60px;
}

.waiting-opponent__illu {
  display: block;
  margin: 40px auto;
  border-radius: 40px;
  max-width: 400px;
  width: 90%;
}

.waiting-opponent__input {
  margin-top: 20px;
  background-color: var(--main-bg-color);
  border: 1px solid white;
  padding: 12px;
  font-size: 0.9em;
  border-radius: 4px;
  text-align: center;
  width: 90%;
  color: white;
  outline: none;
}
