<div class="waiting-opponent">
    <h2>Waiting for an opponent</h2>

    
    <img class="waiting-opponent__illu" src="{{ asset('svg/waiting_opponent.svg') }}" />
    <h3>Share this URL with a friend !</h3>
    <input class="waiting-opponent__input" type="text" disabled value="{{app.request.uri}}/join" />
</div>
